<div class="bd-inner">
    
    <div *ngFor="let movie of movies;let idx = index">
        <div class="col-md-4">
            <div class="individual">
            <div><label>movie ID: </label>{{movie.id}}</div>
            <div><label>movie original title: </label>{{movie.original_title}}</div>
            <div><label>movie relase date: </label>{{movie.release_date}}</div>
            <div><label>movie title: </label>{{movie.title}} </div>
            </div>
            <div class="fav">
                <div><button type="button" class="btn btn-primary" >Favourite </button></div>
                <div><button type="button" class="btn btn-primary" (click)="gotoDis(idx)">Dislik </button></div>
            </div>
        </div>
    </div>

</div>